@font-face {
  font-weight: 100;
  font-family: "Work-Sans";
  src: url(/fonts/WorkSans-Thin.woff) format(woff), url(/fonts/WorkSans-Thin.woff2) format(woff2);
}
@font-face {
  font-weight: 200;
  font-family: "Work-Sans";
  src: url(/fonts/WorkSans-ExtraLight.woff) format(woff), url(/fonts/WorkSans-ExtraLight.woff2) format(woff2);
}
@font-face {
  font-weight: 300;
  font-family: "Work-Sans";
  src: url(/fonts/WorkSans-Light.woff) format(woff), url(/fonts/WorkSans-Light.woff2) format(woff2);
}
@font-face {
  font-weight: 400;
  font-family: "Work-Sans";
  src: url(/fonts/WorkSans-Regular.woff) format(woff), url(/fonts/WorkSans-Regular.woff2) format(woff2);
}
@font-face {
  font-weight: 500;
  font-family: "Work-Sans";
  src: url(/fonts/WorkSans-Medium.woff) format(woff), url(/fonts/WorkSans-Medium.woff2) format(woff2);
}
@font-face {
  font-weight: 600;
  font-family: "Work-Sans";
  src: url(/fonts/WorkSans-SemiBold.woff) format(woff), url(/fonts/WorkSans-SemiBold.woff2) format(woff2);
}
@font-face {
  font-weight: 700;
  font-family: "Work-Sans";
  src: url(/fonts/WorkSans-Bold.woff) format(woff), url(/fonts/WorkSans-Bold.woff2) format(woff2);
}
@font-face {
  font-weight: 800;
  font-family: "Work-Sans";
  src: url(/fonts/WorkSans-ExtraBold.woff) format(woff), url(/fonts/WorkSans-ExtraBold.woff2) format(woff2);
}
@font-face {
  font-weight: 900;
  font-family: "Work-Sans";
  src: url(/fonts/WorkSans-Black.woff) format(woff), url(/fonts/WorkSans-Black.woff2) format(woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2B2B2B;
  font-family: "Work-Sans";
  color: white;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.header__wrapper {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.nav__link {
  color: white;
}

.btn {
  padding: 0 30px;
  border-radius: 20px;
  background-color: #a259ff;
  color: white;
  width: 152px;
  height: 50px;
  position: relative;
  border-color: transparent;
}

.btn::before {
  position: absolute;
  content: "";
  background-size: cover;
  width: 20px;
  height: 20px;
  background-image: url(/assests/user.svg);
  left: 20px;
  top: 12px;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.section__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 115px;
}

.info__wrapper {
  display: flex;
  gap: 30px;
}

.section1__info {
  color: white;
  font-size: 23.99px;
  line-height: 38.38p;
}

.marketplace__text {
  color: white;
  font-size: 22px;
  line-height: 35.2px;
  padding-bottom: 30px;
}

.discover__title {
  margin-top: 80px;
  color: white;
  font-weight: 600;
  font-size: 67px;
  line-height: 73.7px;
  padding-bottom: 20px;
}

.btn2 {
  width: 224px;
  height: 60px;
  background-color: #a259ff;
  padding: 0 50px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  margin-bottom: 30px;
  border-color: transparent;
  position: relative;
}

.btn2::before {
  position: absolute;
  content: "";
  background-size: cover;
  width: 20px;
  height: 20px;
  background-image: url(/assests/rocket.png);
  left: 50px;
  top: 17px;
}

.section1__wrapper {
  display: flex;
  justify-content: space-between;
}

.section__moon {
  display: flex;
  flex-direction: column;
}

.moon__img {
  margin-top: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.moon__info-wrapper {
  width: 510px;
  height: 109px;
  background-color: #3b3b3b;
  border-radius: 10px;
}

.moon__info {
  color: white;
  font-weight: 600;
  font-size: 22px;
  line-height: 30.8px;
  padding-top: 22px;
  padding-right: 20px;
  padding-left: 22px;
  padding-bottom: 10px;
}

.moon__avatar-info {
  color: white;
  font-size: 16px;
  line-height: 22.4px;
  position: relative;
  padding-right: 20px;
  padding-left: 50px;
  padding-bottom: 24px;
}

.moon__avatar-info::before {
  position: absolute;
  content: "";
  background-size: cover;
  width: 20px;
  height: 20px;
  background-image: url(/assests/avatar.svg);
  left: 20px;
  top: 0px;
}

.rasmi {
  display: flex;
  gap: 30px;
  margin-left: 115px;
}

.h1 {
  color: white;
  margin-left: 115px;
  margin-top: 100px;
  font-size: 50px;
}

.pisimi {
  color: white;
  margin-left: 115px;
  margin-bottom: 49% 9;
}

.people__wrapper {
  width: 240px;
  height: 238px;
  background-color: #3B3B3B;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.third__wrapper {
  margin-left: 115px;
}

.third__title {
  margin-top: 80px;
  color: white;
  font-weight: 600;
  font-size: 38px;
  line-height: 45.6px;
}

.third__subtitle {
  color: white;
  font-size: 22px;
  line-height: 35.2px;
}

.third__button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 247px;
  height: 60px;
  border: 2px solid #A259FF;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
}

.third__top-info {
  position: relative;
}

.people__name {
  font-weight: 600;
  font-size: 22px;
  line-height: 30.8px;
  text-align: center;
}

.people__sales {
  font-size: 16px;
  line-height: 22.4px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.people__sales2 {
  color: #858584;
}

.people__number {
  width: 30px;
  height: 30px;
  background-color: #2B2B2B;
  color: #858584;
  border-radius: 20px;
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}

.people {
  width: 1050px;
  height: 774px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
}

.people__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 110px;
  height: 110px;
  margin: auto;
  padding-bottom: 20px;
}

.section4__title {
  color: white;
  font-size: 28px;
  margin-top: 80px;
  margin-left: 115px;
  margin-bottom: 60px;
}

.image-list {
  width: 1050px;
  height: 662px;
  border-radius: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-left: 115px;
}

.image-item {
  background-color: #3d3b3b;
  border-radius: 10px;
  height: 316px;
  width: 240px;
}

.art {
  color: white;
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}

.magic__wrapper {
  background-image: linear-gradient(to top, #a259ff, transparent), url(/assests/qoziqorin2.png);
  height: 640px;
  background-repeat: no-repeat;
  margin-top: 100px;
  background-size: cover;
  padding: 380px 115px 0;
}

.magic__title {
  font-size: 51px;
  color: white;
}

.magic__minibox {
  width: 151px;
  height: 44px;
  border-radius: 20px;
  background-color: #3b3b3b;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.magic__btn {
  padding: 19px 50px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  position: relative;
  text-align: center;
  color: #2b2b2b;
  text-align: center;
  margin-top: 30px;
}

.minibox-text {
  color: white;
  font-size: 16px;
  padding-top: 11px;
  position: relative;
}

.magic__minibox:before {
  position: absolute;
  background-image: url(/assests/avatar2.png);
  width: 24px;
  height: 24px;
  content: "";
  background-size: cover;
  left: 10px;
  top: 10px;
  right: 20px;
}

.magic__btn::after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(/assests/eye.png);
  background-size: cover;
  left: 26px;
  bottom: 17px;
}

.magic__right-box {
  width: 295px;
  height: 147px;
  background-color: #3b3b3b;
  opacity: 0.8;
  border-radius: 20px;
  margin-top: 100px;
}

.magic__wrapper {
  display: flex;
  justify-content: space-between;
}

.magic__right_box_title {
  font-size: 14px;
  font-family: "Space Mono";
  color: white;
  padding: 30px 30px 10px 30px;
}

.right_box_menu-item {
  display: flex;
}

.right_box_menu-hour {
  font-size: 38px;
  color: white;
  font-weight: 600;
}

.right_box_menu-hour-name {
  font-size: 13px;
  font-family: "Space Mono";
  color: white;
}

.right_box_menu-hour_dor {
  font-size: 28px;
  color: white;
}

.magic__right_box-menu {
  display: flex;
  padding-left: 30px;
}

.right_box_menu-item {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.more {
  padding-top: 80px;
}

.more_wrapper_item-text {
  font-size: 38px;
  font-weight: 600;
  color: white;
  padding-bottom: 10px;
}

.more_wrapepr_item-minitext {
  font-size: 22px;
  font-weight: 300;
  color: white;
}

.more_wrapper_item-btn {
  padding: 19px 50px 19px 50px;
  background-color: transparent;
  border: none;
  border: 1px solid #a259ff;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
  position: relative;
  text-align: center;
}

.more_wrapper_item-btn:before {
  position: absolute;
  content: "";
  background-size: cover;
  width: 20px;
  height: 20px;
  background-image: url(/assests/eye.png);
  left: 19px;
  bottom: 18px;
}

.more_wrapper-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more_bottom-box {
  width: 420px;
  height: 469px;
  background-color: #3b3b3b;
  border-radius: 20px;
  margin-top: 60px;
}

.more_bottom_avatar-box {
  display: flex;
  align-items: center;
  justify-content: flex;
  gap: 12px;
  padding-top: 5px;
  padding-left: 30px;
}

.more_bottom-title {
  font-size: 22px;
  color: white;
  font-weight: 600;
  padding-left: 30px;
  padding-top: 20px;
}

.more_bottom_avatar-name {
  font-family: "Space Mono";
  font-size: 16px;
  color: white;
}

.more_bottom_avatar-item {
  display: flex;
  flex-direction: column;
}

.more_bottom_avatar_menu {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 46px;
}

.more_bottom_avatar-price {
  font-size: 12px;
  color: #858584;
  font-weight: 300;
  font-family: "Space Mono";
}

.more_bottom_avatar-number {
  font-size: 18px;
  font-weight: 400;
  color: white;
  font-family: "Space Mono";
}

.more_wrapper_bottom_box {
  display: flex;
  align-items: center;
  justify-content: flex;
  gap: 30px;
}

.join_wrapper-box {
  width: 1050px;
  height: 430px;
  background-color: #3b3b3b;
  border-radius: 20px;
  margin-top: 150px;
}

.join_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.join_wrapper_box-content {
  padding-top: 60px;
  padding-left: 60px;
}

.join_wrapper_box-menu {
  display: flex;
  align-items: center;
  justify-content: flex;
  gap: 80px;
}

.join_wrapper_right-title {
  font-size: 38px;
  font-weight: 600;
  color: white;
  padding-bottom: 10px;
}

.join_wrapper_right-mini {
  font-size: 22px;
  color: white;
  font-weight: 400;
  padding-bottom: 40px;
}

.join_wrapper_right_join {
  width: 425px;
  height: 60px;
  border-radius: 20px;
  background-color: white;
}

.join_wrapper_right_subs_box {
  width: 211px;
  height: 60px;
  border-radius: 20px;
  background-color: #a259ff;
  text-align: center;
  padding-top: 19px;
}

.join_wrapper_right_join {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join_wrapper_right_title {
  font-size: 16px;
  color: #2b2b2b;
  padding-left: 20px;
}

.join_wrapper_right_subs-title {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.work__title {
  font-size: 38px;
  color: white;
  margin-top: 120px;
}

.work__text {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 48px;
  color: white;
}

.rasm {
  width: 250px;
  height: 250px;
  background-color: white;
  margin: auto;
}

.work__box {
  background-color: #3B3B3B;
  padding: 10px 30px 30px;
  width: 330px;
  border-radius: 20px;
}

.work__wrapper-title {
  color: white;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.work__wrapper-text {
  color: white;
  text-align: center;
}

.work__wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.footer__first-box-text {
  color: #cccccc;
  width: 238px;
  margin: 20px 0 30px;
}

.footer__main {
  background-color: #3b3b3b;
  padding: 40px 115px;
  margin-top: 80px;
}

.footer__first-title {
  color: white;
  font-size: 22px;
}

.footer__first-box-text2 {
  color: #cccccc;
  margin: 20px 0 30px;
  width: 330px;
}

.footer__wrapper {
  display: flex;
  align-items: center;
}

.se {
  margin-left: 84px;
  margin-right: 40px;
}

.second {
  margin-top: 20px;
}

.bi {
  color: #cccccc;
  font-size: 22px;
}

.line {
  background-color: #858584;
  width: 1060px;
  height: 2px;
  margin: 30px 0 20px;
}

.footer__last-text {
  color: #cccccc;
}/*# sourceMappingURL=style.css.map */