.section6 {
	padding-top: 80px;
}

.section6__item-text {
	font-size: 38px;
	font-weight: 600;
	color: white;
	padding-bottom: 10px;
}

.section6__explore {
	font-size: 22px;
	font-weight: 300;
	color: white;
}

.section6__btn {
	padding: 19px 50px 19px 50px;
	background-color: transparent;
	border: none;
	border: 1px solid #a259ff;
	color: white;
	font-weight: 500;
	font-size: 16px;
	border-radius: 20px;
	position: relative;
	text-align: center;
}

.section6__btn:before {
	content: '';
	position: absolute;
	background-image: url(/assests/eye.png);
	background-size: cover;
	width: 20px;
	height: 20px;
	bottom: 18px;
	left: 19px;
}

.section666 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.section6__box {
	width: 420px;
	height: 469px;
	background-color: #3b3b3b;
	border-radius: 20px;
	margin-top: 60px;
}

.section6__avatar {
	@include d-flex(flex, 12px);
	padding-top: 5px;
	padding-left: 30px;
}

.section6__title {
	font-size: 22px;
	color: white;
	font-weight: 600;
	padding-left: 30px;
	padding-top: 20px;
}

.section6__avatar-name {
	font-size: 16px;
	color: white;
}

.section6__menu {
	@include d-flex(space-between, 0);
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 46px;
}

.section6__menu-item {
	display: flex;
	flex-direction: column;
}

.section6__price {
	font-size: 12px;
	color: #858584;
	font-weight: 300;
}

.section6__number {
	font-size: 18px;
	font-weight: 400;
	color: white;
}

.section6__wrapper-box {
	@include d-flex(flex, 30px);
}
