/* section7 start */
.ecbr {
    color: white;
    font-size: 38px;
    margin-left: 600px;
  }
  .pi {
    color: white;
    font-size: 20px;
    margin-left: 600px;
  }
  
  .list {
    /* width: 600px;
    height: 238px;
    padding: 100px 90px;
    border-radius: 20px;
    display: flex;
    width: 800px;
    gap: 10px;
    flex-wrap: nowrap;
    margin-left: 500px; */
    padding: 100px 90px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    margin-left: 400px;
  }

  .item {
    background-color: #3d3b3b;
    border-radius: 10px;
    height: 500px;
    width: 350px;
  }
  
  .uctasibirda {
    margin-top: -100px;
    margin-left: 90px;
  }
  .photo {
    color: white;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
  }
  .go {
    color: white;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
  }
  .hu {
    color: white;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
  }
  .ol {
    color: white;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
  }
  .do {
    margin-left: 70px;
  }
  .doo {
    margin-left: 70px;
  }
  .dooo {
    margin-left: 70px;
  }
  /* section7 end */