/* section5 start */
.quzqorn {
    width: 9000;
    height: Hug (900px);
    margin-left: 580px;
    border-radius: 20px;
  }
  .rism {
    justify-content: center;
    align-items: center;
  }
  
  .NFT {
    position: absolute;
    padding: 20px 60px;
    border-radius: 20px;
    margin-left: -970px;
    margin-top: 400px;
    font-weight: 40px;
    /* margin-top: -2000px; */
  }
  .NFT:hover {
    color: #a259ff;
  }
  .bi {
    color: #a259ff;
  }
  .ko {
    color: white;
    font-size: 51px;
    position: absolute;
    margin-left: 620px;
    margin-top: 340px;
  }
  
  /* .ook {
    padding: 10px 40px;
    border-radius: 20px;
    margin-left: -1030px;
    margin-top: -395px;
    font-weight: 40px;
    background-color: #3b3b3b;
    border: none;
  }
  .okk {
    margin-left: -1090px;
    margin: 00px;
  } */
  /* section5 end */