/* section6 start */
.lo {
    color: white;
    font-size: 38px;
    margin-left: 600px;
    margin-top: 90px;
  }
  
  .pii {
    color: white;
    font-size: 22px;
    margin-left: 600px;
    margin-top: 10px;
  }
  
  .biii {
    color: #a259ff;
  }
  .NFTT {
    position: absolute;
    padding: 20px 60px;
    border-radius: 20px;
    margin-left: 1400px;
    margin-top: -100px;
    font-weight: 40px;
    border: 1px solid #a259ff;
    background-color: transparent;
    color: white;
    /* margin-top: -2000px; */
  }
  .NFTT:hover {
    color: rgb(189, 127, 255);
  }
  .bi {
    color: rgb(183, 68, 124);
  }
  
  .image-lisit {
    padding: 100px 90px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    margin-left: 400px;
    height: 500px;
  }
 
  .image-itemm {
    background-color: #3d3b3b;
    border-radius: 10px;
  }
  
  .vax {
    color: white;
    font-size: 24px;
    margin-top: 20px;
  }
  .beze {
    position: absolute;
    left: 460px;
    margin: 40px;
  }
  .bezek {
    position: absolute;
    left: 900px;
    margin: 40px;
  }
  .bezekk {
    position: absolute;
    left: 1340px;
    margin: 40px;
  }
  
  .y {
    position: absolute;
  }
  
  .o {
    position: absolute;
  }
  
  .z {
    position: absolute;
  }
  
  /* section6 end */